@import 'reset.scss';

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Reset CSS */
a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

header {
  width: 33%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #f0f0f0;
  padding-left: 70px;
  padding-right: 170px;
  position: fixed;
  top: 0;
  left: 0;

  h1 {
    text-transform: uppercase;
    font-size: 80px;
    line-height: 70px;
    color: #e7473c;
  }

  h3 {
    margin-top: 60px;
    font-size: 23px;
    color: #e7473c;
  }

  p {
    margin: 30px 0;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #e7473c;
  }

  nav {
    ul {
      margin: 30px 0;

      li {
        display: inline;
        line-height: 30px;
        margin-right: 10px;
        border-bottom: 1px solid black;
        opacity: 0.8;
      }
    }
  }

  footer {
    font-size: 12px;
    opacity: 0.8;
  }
}

main {
  margin-left: 33%;
  height: 500vh;
  background-color: #e7473c;

  .movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;

    .movie__info {
      font-size: 20px;
    }

    .container {
      width: 75%;

      .movie__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        h2 {
          font-weight: 800;
          font-size: 50px;
          color: white;
        }

        h5 {
          font-weight: 600;
          padding-top: 30px;
          color: white;
        }
      }

      img {
        margin-bottom: 50px;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
      }

      p {
        margin-left: 50%;
        text-align: right;
        color: white;
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
      }
    }
  }
}
