body {
  background-color: beige; }

a {
  margin-bottom: 20px; }
  a:nth-child(odd) {
    text-decoration: none;
    display: block;
    color: blue; }
  a:nth-child(even) {
    text-decoration: none;
    display: block;
    color: red; }
