@import '_variables.scss';
@import '_mixin.scss';
@import '_buttons.scss';

body {
  background-color: $bg;
}

a {
  @extend %button;
  text-decoration: none;
}

button {
  @extend %button;
  border: none;
}
